{% extends 'base.html' %}

{% block content %}
<div class="login-form">
    <form action="" method="post" class="m-5">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username...">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                placeholder="Enter your password...">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
{% endblock %}